form{

	// Wrap each form input/element in an item div
	.item{
		margin-bottom:$padding/2;
	}
	label{
		display:block;
		margin-bottom:5px;
	}
	input[type=text],input[type=email],input[type=phone],input[type=password],input[type=number],input[type=search], textarea{
		@include box-sizing(border-box);
		width:100%;
		padding:5px;
		border:1px solid #aaa;
		outline:none;
		&:focus{
			border-color:$primary-color;
		}
		&.auto{
			width:auto;
		}
	}

	// Notes go under the input fields
	.note{
		margin-top:5px;
		color:$subtle-color;
	}

	// Required label
	.req{
		font-style: italic;
	}

	// Validation, add error class to the item div
	.error{

		// Validation reason
		.reason{
			color:$bad-color;
		}
		input[type=text],input[type=email],input[type=phone],input[type=password],input[type=number],input[type=search], textarea{
			border-color:$bad-color;
		}
	}
}