body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-style: normal;
  font-size:100%;
  line-height:1.6;
}

blockquote {
  font-style: italic;
  font-weight: 400;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-indent: 25px;
  font-size: 26px;
  margin: 0 0 25px;
  border-left:2px solid $primary-color;
}

h1 {
  font-size: 68px;
  margin: 0 0 25px;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-size: 42px;
  margin: 0 0 25px;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-size: 26px;
  margin: 0 0 25px;
  font-weight: 600;
  font-style: normal;
}

h4 {
  font-size: 18px;
  margin: 0 0 25px;
  font-weight: 600;
  font-style: normal;
}

h5 {
  font-size: 16px;
  margin: 0 0 25px;
  font-style: normal;
  font-weight: normal;
}

p {
  margin: 0 0 $padding/2;
}