// Set your project variables here

$primary-color: #000;
$secondary-color: #000;
$tertiary-color: #000;

$bad-color: red; // Bad color for errors, validation etc.
$good-color: green; // Good color for success etc.
$subtle-color: #999; // Subtle color for subtle text

$br: 10px; // Border-radius
$padding: 40px; // Consistent padding and margins
