// Set your project variables here

$primary-color: #1271db;
$secondary-color: #233E5B;
$tertiary-color: #aaa;

$bad-color: #ce0832; // Bad color for errors, validation etc.
$good-color: #5dae1b; // Good color for success etc.
$info-color: #10bade; // Good color for success etc.
$warning-color: #dea110; // Good color for success etc.
$subtle-color: #999; // Subtle color for subtle text

$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 40px; // Consistent padding and margins

// Responsive breakpoints
$small-break: 480px;
$big-break: 780px;